<footer class="text-center text-white bg-dark py-4 d-flex justify-content-center align-items-center">
  <p class="text-uppercase">&#169; Volare </p>
  <p class="text-lowercase"> all rights reserved</p>
</footer>