<h1 class="mt-5 text-center">Volare Travels</h1>
<h2>News</h2>
<p class="mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Blanditiis tempora corporis natus id porro nulla quam minus incidunt, repellendus commodi vitae assumenda perspiciatis,
    consequuntur, velit exercitationem molestiae ut? Sapiente, corrupti.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Delectus fugiat pariatur nam veritatis.
    Perspiciatis obcaecati quaerat magnam harum possimus, quae error,
    corrupti maiores veritatis vel laudantium eum earum sequi voluptatem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga,
    deleniti minus, dignissimos saepe asperiores, dolor autem placeat quae corrupti labore neque in id
    omnis aspernatur iste illo ullam pariatur.
</p>
{{>footer}}