<div class="container">

  <h2>Welcome</h2>
  <p>{{user}}</p>
  <h3>Lisboa</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Nobis, nulla quibusdam sit animi commodi rerum! Quam facilis soluta quisquam veritatis!
    Laboriosam natus soluta quas commodi,
    explicabo veritatis hic facilis deleniti!</p>
  <h3>Vietnam </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Similique repudiandae, molestiae repellat minus tempora debitis maxime dolore voluptatibus distinctio
    quam officia ratione sit non impedit minima fuga voluptatum est quod?</p>
  <h3>France </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Tenetur voluptatem rem quas, eum quos ab incidunt repellat libero magnam.
    Dolorem minima necessitatibus reiciendis iste obcaecati, officiis adipisci consequatur ullam maxime?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quibusdam, explicabo porro in, ullam eligendi mollitia blanditiis nihil harum reprehenderit aliquam est?
    Exercitationem totam repellat hic maxime animi. Eaque, sunt veniam?</p>
  <br>
  <br>
    <a href="/users/logout">Logout</a>
  <br>

</div>
{{>footer}}