<div class="container">
  <p class="text-center text-black bg-primary py-4 d-flex flex-column">Sorry, you have to create an account to enter this section</p>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-warning">Back Home</a>
      </div>
    </div>
  </div>
</div>
{{>footer}}